footer.footer-mob
	.footer-mob__wrapper
		.footer-mob__top
			.footer-mob__left.footer-mob__column
				.footer-mob__label Подписка на рассылку
				.footer-mob__subscribe
					form.form-feedback(action='')
						.form-title
							| &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&kcy;&acy; &ncy;&acy; &rcy;&acy;&scy;&scy;&ycy;&lcy;&kcy;&ucy;
						.form-group
							.field
								input.form-control(type='text', placeholder='Введите свой e-mail')

						button.btn.btn-gray.footer-mob__submit(type="submit") Подписаться

				.mob-social-footer
					a(href='#')
						span.img
							svg(width='21', height='13', viewBox='0 0 21 13', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M11.2817 12.4236C11.8037 12.4236 12.0171 12.0756 12.0111 11.6393C11.9846 9.99614 12.6231 9.11157 13.776 10.2644C15.0514 11.5399 15.3154 12.4236 16.8643 12.4236H19.6071C20.2997 12.4236 20.5723 12.2007 20.5723 11.851C20.5723 11.1113 19.3543 9.80585 18.3223 8.84757C16.8771 7.50614 16.8094 7.47443 18.054 5.85957C19.5977 3.85471 21.6171 1.28585 19.8309 1.28585H16.4186C15.7569 1.28585 15.7089 1.65871 15.4731 2.21414C14.6203 4.22585 12.9994 6.83157 12.384 6.433C11.7403 6.01728 12.0351 4.37071 12.084 1.92357C12.0969 1.27728 12.0934 0.834139 11.106 0.604425C10.5669 0.480139 10.0423 0.428711 9.55543 0.428711C7.60714 0.428711 6.26314 1.24557 7.02686 1.38785C8.37343 1.639 8.244 4.55243 7.93028 5.81071C7.38343 8.00157 5.328 4.07585 4.47171 2.12071C4.26514 1.651 4.20171 1.28585 3.46457 1.28585H0.674571C0.252857 1.28585 0 1.423 0 1.72814C0 2.24414 2.53714 7.48814 4.95943 10.1024C7.32171 12.6524 9.65657 12.4236 11.2817 12.4236Z', fill='#636366')
					//- a(href='#')
						span.img
							svg(width='19', height='18', viewBox='0 0 19 18', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M9.57227 1.62225C11.9753 1.62225 12.2603 1.63125 13.2098 1.67475C15.6488 1.78575 16.788 2.943 16.899 5.364C16.9425 6.31275 16.9508 6.59775 16.9508 9.00075C16.9508 11.4045 16.9418 11.6888 16.899 12.6375C16.7873 15.0562 15.651 16.2157 13.2098 16.3267C12.2603 16.3702 11.9768 16.3792 9.57227 16.3792C7.16927 16.3792 6.88427 16.3702 5.93552 16.3267C3.49052 16.215 2.35727 15.0525 2.24627 12.6368C2.20277 11.688 2.19377 11.4037 2.19377 9C2.19377 6.597 2.20352 6.31275 2.24627 5.36325C2.35802 2.943 3.49427 1.785 5.93552 1.674C6.88502 1.63125 7.16927 1.62225 9.57227 1.62225ZM9.57227 0C7.12802 0 6.82202 0.0105 5.86202 0.054C2.59352 0.204 0.777016 2.0175 0.627016 5.289C0.582766 6.24975 0.572266 6.55575 0.572266 9C0.572266 11.4443 0.582766 11.751 0.626266 12.711C0.776266 15.9795 2.58977 17.796 5.86127 17.946C6.82202 17.9895 7.12802 18 9.57227 18C12.0165 18 12.3233 17.9895 13.2833 17.946C16.5488 17.796 18.3698 15.9825 18.5175 12.711C18.5618 11.751 18.5723 11.4443 18.5723 9C18.5723 6.55575 18.5618 6.24975 18.5183 5.28975C18.3713 2.02425 16.5555 0.20475 13.284 0.05475C12.3233 0.0105 12.0165 0 9.57227 0ZM9.57227 4.3785C7.02002 4.3785 4.95077 6.44775 4.95077 9C4.95077 11.5522 7.02002 13.6222 9.57227 13.6222C12.1245 13.6222 14.1938 11.553 14.1938 9C14.1938 6.44775 12.1245 4.3785 9.57227 4.3785ZM9.57227 12C7.91552 12 6.57227 10.6575 6.57227 9C6.57227 7.34325 7.91552 6 9.57227 6C11.229 6 12.5723 7.34325 12.5723 9C12.5723 10.6575 11.229 12 9.57227 12ZM14.3768 3.11625C13.7798 3.11625 13.296 3.6 13.296 4.19625C13.296 4.7925 13.7798 5.27625 14.3768 5.27625C14.973 5.27625 15.456 4.7925 15.456 4.19625C15.456 3.6 14.973 3.11625 14.3768 3.11625Z', fill='#636366')
					a(href='#')
						span.img
							svg(width='22', height='18', viewBox='0 0 22 18', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(fill-rule='evenodd', clip-rule='evenodd', d='M16.3303 17.811C16.6063 18.0064 16.962 18.0553 17.2792 17.9353C17.5963 17.8144 17.8295 17.5435 17.8997 17.2153C18.6446 13.7147 20.4515 4.85441 21.1295 1.67012C21.1809 1.43012 21.0952 1.18069 20.9066 1.02041C20.718 0.86012 20.4566 0.813835 20.2235 0.900406C16.6295 2.23069 5.56118 6.38355 1.03718 8.05755C0.750035 8.16383 0.563178 8.43983 0.572607 8.74241C0.582892 9.04583 0.786892 9.30898 1.08089 9.39726C3.10975 10.0041 5.77289 10.8484 5.77289 10.8484C5.77289 10.8484 7.01746 14.607 7.66632 16.5184C7.74775 16.7584 7.93546 16.947 8.18318 17.0121C8.43003 17.0764 8.69403 17.0087 8.87832 16.8347C9.92061 15.8507 11.532 14.3293 11.532 14.3293C11.532 14.3293 14.5938 16.5741 16.3303 17.811ZM6.89318 10.3735L8.33232 15.1204L8.65203 12.1144C8.65203 12.1144 14.2123 7.09926 17.382 4.24069C17.4746 4.15669 17.4875 4.01612 17.4103 3.91755C17.334 3.81898 17.1935 3.79583 17.088 3.86269C13.4143 6.20869 6.89318 10.3735 6.89318 10.3735Z', fill='#636366')
			.footer-mob__location.footer-mob__column
				.footer-mob__label Магазины в Москве
				.mob-footer-title.arrow
					a(href='javascript://')
						| &Mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;&ycy; &vcy; &Mcy;&ocy;&scy;&kcy;&vcy;&iecy;
				.mob-footer-address.mob-footer-text
					| &Bcy;&ocy;&lcy;&softcy;&shcy;&acy;&yacy; &Ncy;&ocy;&vcy;&ocy;&dcy;&mcy;&icy;&tcy;&rcy;&ocy;&vcy;&scy;&kcy;&acy;&yacy;, 36&scy;2
				.mob-footer-address.mob-footer-text
					| &Tcy;&vcy;&iecy;&rcy;&scy;&kcy;&acy;&yacy;, 9
				.mob-footer-time.mob-footer-text.pl
					| &IEcy;&zhcy;&iecy;&dcy;&ncy;&iecy;&vcy;&ncy;&ocy; &scy; 12:00 &dcy;&ocy; 21:00
				.mob-footer-tell.mob-footer-text.pl
					a(href='tel:+7 (929) 504 38 83') +7 (929) 504 38 83
				.mob-footer-mail.mob-footer-text.mb-20.pl
					a(href='mailto:order@kangolstore.ru') order@kangolstore.ru
			
			.footer-mob__info.footer-mob__column
				.footer-mob__label Информация
				+menu('footer-mob', ['Блог', 'История бренда', 'Дистрибуция', 'Сотрудничество', 'Контакты'])
			
			.footer-mob__links-arrows
				.mob-footer-title.mob-footer-title-20.arrow
					a(href='#') &Bcy;&lcy;&ocy;&gcy;
				.mob-footer-title.mob-footer-title-20.arrow
					a(href='#') &Icy;&scy;&tcy;&ocy;&rcy;&icy;&yacy; &bcy;&rcy;&iecy;&ncy;&dcy;&acy;
				.mob-footer-title.mob-footer-title-32.arrow
					a(href='#') &Scy;&iecy;&rcy;&tcy;&icy;&fcy;&icy;&kcy;&acy;&tcy;&ycy;

			.footer-mob__info.footer-mob__column
				.footer-mob__label Поддержка
				+menu('footer-mob', ['Сертификаты', 'Доставка и оплата', 'Возврат товара'])

			form.form-feedback(action='')
				.form-title
					| &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&kcy;&acy; &ncy;&acy; &rcy;&acy;&scy;&scy;&ycy;&lcy;&kcy;&ucy;
				.form-group
					.field
						input.form-control(type='text', placeholder='Введите свой e-mail')
						.reset
				.form-group
					span.btn.btn-primary
						input(type='submit', value='подписаться')
			.footer-acc
				.accordion-item
					.accordion-menu-title
						| &Ocy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&iecy;, &ocy;&pcy;&lcy;&acy;&tcy;&iecy; &icy; &vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy;&acy;&khcy;
					.accordion-sub-block
						.list-link
							.link
								a(href='#') &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy; &icy; &ocy;&pcy;&lcy;&acy;&tcy;&acy;
							.link
								a(href='#') &Vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy; &tcy;&ocy;&vcy;&acy;&rcy;&acy;
				.accordion-item
					.accordion-menu-title
						| &Scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy;
					.accordion-sub-block
						.list-link
							.link
								a(href='#') &Dcy;&icy;&scy;&tcy;&rcy;&icy;&bcy;&ucy;&tscy;&icy;&yacy;
							.link
								a(href='#') &Scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy;
		
		.footer-mob__bottom
			- var footerLinks = ['Политика конфиденциальности', 'Пользовательское соглашение',  'Оферта'];
			
			.footer-link
				each link, i in footerLinks
					.link
						a(href='#')= link
			.copyright
				| &copy; #[span.copyright__desc Kangol Headwear, 2025 г. Все права защищены.]#[span.copyright__mobВсе права защищены, 2025 г]