/*=====================Forms=========================*/

.form__group{
	padding: 0 rem(24px) rem(24px) rem(24px);

	&:first-child{
		padding-top: rem(32);
	}
}
.form__label{
	display: block;
	&:not(:last-child){
		margin-bottom: rem(24);
	}

	&--error{
		.form__error-text{
			display: block;
		}
	}

}
.form__label-inner{
	position: relative;
}
.form__input {
	height: rem(48);
	padding-left: rem(16);
	padding-right: rem(16);
	border: 1px solid rgb(193, 197, 200);
	background: #fff ;
	border-radius: rem(8);
	@include placecolor(#8E8E93);
	color: $text;
	font-family: $tildaMed;
	font-size: rem(14px);
	line-height: math.div(16,14);

	&--error{
		border-color: $danger;
	}
	&--active{
		border: 2px solid rgb(1, 63, 125);
	}

	&:focus, &:not(:placeholder-shown){
		padding-top: rem(18);

		& ~ .form__placeholder{
			top: rem(11);
			transform: translateY(0);
			font-size: rem(12px);
		}
	}
}
.form__placeholder{
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
	font-size: rem(14px);
	line-height: 1;
	font-family: $tildaMed;
	color: #8E8E93;
	transition: all .2s;
	pointer-events: none;
}
.form__error-text{
	display: none;
	margin-top: rem(8px);
	color: $danger;
	font-size: rem(14px);
	line-height: 1;
}
.form__custom-policy {
	display: flex;
	align-items: center;
	margin-top: rem(35px);
}
.form__custom {
	position: relative;
	flex-shrink: 0;
	margin-right: rem(12);
}
.form__check {
	@include checkbox;
	&:checked + .form__custom-chek {
		background-color: #013F7D;
		border-color: #013F7D;
		
		&:before{
			display: block;
		}
	}
}
.form__custom-chek {
	display: block;
	position: relative;
	width: rem(20);
	height: rem(20);
	border: rem(1px) solid #C1C5C8;
	border-radius: rem(4);
	background-color: transparent;

	@media (any-hover: hover) { //только для устройств с ховером
				&:hover{
				cursor: pointer;
			}
		}
	&:before{
		content: '';
		@include absolute-center-old;
		display: none;
		width: rem(11.43);
		height: rem(7.81);
		border-radius: rem(2);
		background-image: url(../img/icons/policy-check.svg);
		background-position: center;
		background-repeat: no-repeat;
	}
}
.form__area{
	width: 100%;
	height: rem(100);
	padding:rem(20);
    resize: none;
	border: none;
	background: #fff;
	padding-left: rem(20);
	color: #222222;
	font-family: inherit;
}
.form__policy {
	font-size: 14px;
	line-height: math.div(10,14);
}
.inp-reset{
	@include but-null();
	position: absolute;
	width: rem(20);
	height: rem(20);
	background: url(../img/source/reset2.svg) center no-repeat;
    background-size: rem(10px) rem(10px);
    right: rem(11px);
    top: 50%;
    transform: translateY(-50%);
}
.form__text{
	font-size: rem(12px);
	line-height: math.div(16,12);
	color: $textLight;

	a{
		color: $accent;
	}
}

/*===================== end Forms======================*/ 