/*--------------------ui----------------------*/
.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: rem(48);
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $accent;
  padding: rem(5px) rem(15px);
  font-size:  rem(13px);
  font-family: $tildaSemi;
  text-transform: uppercase;
  border-radius: rem(8);
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease, border-color .1s ease, color .1s ease;
  border: rem(1) solid transparent;
  
   @media (any-hover: hover) { //только для устройств с ховером
       cursor: pointer;
       &:hover{
         background-color: lighten($accent, 5%);

     }
 }   
 
 &:active{
     background-color: darken($accent, 5%);
 }
 &-secondary{
    background-color: #fff;
    border: rem(1) solid $grayBg;
    color: $text;

    @media (any-hover: hover) { //только для устройств с ховером
       &:hover{
         border-color: $accent;
         color: $accent;
         background-color: #fff;
     }
 } 
}
    &[disabled]{
        background-color: $grayBg;
        color: #878788;

        @media (any-hover: hover) { //только для устройств с ховером
             &:hover{
               background-color: darken($grayBg, 5%);
           }
       }
    }
    &-danger{
        background-color: $danger;

        @media (any-hover: hover) { //только для устройств с ховером
             &:hover{
               background-color: lighten($danger, 5%);
           }
       }   
    }
    &-gray{
        background-color: #F2F2F5;
        color: $text;
        @media (any-hover: hover) { //только для устройств с ховером
             &:hover{
               background-color: darken(#F2F2F5, 5%);
           }
       }   
    }
    &-fw{
       width: 100%;
    }
    &-centered{
       width: 100%;
       margin-inline: auto;

       @include min-screen($sm){
           
            max-width: rem(438px);
       }
        @include min-screen($md){
           margin-right: 0;
           width: auto;
            max-width: none;
            padding-inline: rem(56);
       }
    }

}
.btn-wrap{
    display: flex;
    justify-content: center;

    @include max-screen($md){
        justify-content: flex-end;
    }
}
.to-top-btn{
    margin-top: rem(80);
    color: $textLight;

    @include max-screen($md){
        display: none;
    }
}
h2{
   font-family: $tildaSemi;
   font-size: rem(25px);
    line-height: 1;
    letter-spacing: 0.15px;
   text-transform: uppercase;


}
.sect-title{
    margin-bottom: rem(32);
}
.block-title{
    margin-bottom: rem(32);
    font-size: rem(20);
    font-family: $tildaReg;
    text-transform: none;
}
.product-cards {
    display: grid;
    column-gap: rem(8);

    row-gap: rem(16);
    

    @include min-screen($xss){
        grid-template-columns: repeat(2, 1fr);
    }
    @include min-screen($sm){
        grid-template-columns: repeat(3, 1fr);

    }
    @include min-screen($md){
        grid-template-columns: repeat(4, 1fr);
    }
    @include min-screen($lg){
        grid-template-columns: repeat(5, 1fr);
    }

     &--items{
         // grid-template-columns: repeat(2, 1fr);
        margin-bottom: rem(44);

        @include max-screen($xss){
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@import '../_source/mob_product_card';
.product-card {
    min-width: 0;
}
.product-card__slider {
    margin-bottom: rem(16px);
}
.slider-product__slide{
    // aspect-ratio: 159 / 173;
    text-align: center;
}
.product-card__title {
    margin-bottom: rem(16);
    font-size: rem(15);
}
.product-card__price {
    font-size: rem(13px);
    font-family: $tildaSemi;
    line-height: math.div(10,13);
    color: #8E8E93;
}
.product__colors{
    display: flex;
    align-items: center;
    justify-content: center;

    @include min-screen($md){
        display: none;
    }
}

.product-card__sale{
    position: absolute;
    left: 0;
    top: rem(16px);
    font-size: rem(13);
    font-family: $tildaBold;
    color: $accent;
}

[data-simplebar-hor]{
    position: relative;
    padding-bottom: rem(8);   
   
   margin-inline: rem(-16);
    padding-left: rem(16px);

    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 8px;
        width: 100%;
        background-color: #fff;
    }
}
.simplebar-track{
    margin-right: 1rem;
}
.simplebar-track.simplebar-horizontal,
.simplebar-track.simplebar-horizontal .simplebar-scrollbar{
    height: rem(2px);
}
.simplebar-track.simplebar-horizontal{
    margin-left: rem(16);
    background-color: rgb(242, 242, 245);
    // background-color: pink;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar{
    top: 0;
}
.simplebar-scrollbar:before{
    opacity: 1;
    background-color: #C1C5C8;
}
// .simplebar-track{
//     margin-top: 8px;
// }

.breadcrumbs {
    padding-top: rem(24px);
    margin-bottom: rem(30);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(6px);
}
.breadcrumbs__link,
.breadcrumbs__item span {
    font-size: rem(12px);
    font-family: $tildaMed;
    line-height: math.div(16,12);
    text-decoration: none;
    color: #8E8E93;
}
.breadcrumbs__item {
    position: relative;
    list-style-type: none;

    &:not(:last-child){
        &:after{
            content: '/';
            display: inline-block;
            vertical-align: baseline;
            margin-left: rem(4);
            color: #8E8E93;
        }  
    }
   
   span{
        color: $text;
   }
}

.tags{
    margin-bottom: rem(44);
}
.tags__container{
    margin-right: -1rem;
}
.tags__items{
    display: flex;
    // align-items: center;
    column-gap: rem(8);
    // overflow-x: scroll;

    &--blog{
        column-gap: rem(10);

    }
}
.tags__item{
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: rem(34);
    padding: rem(6) rem(12) rem(6px) rem(15px);
    border-radius: rem(25px);
    background: #F2F2F5;
    color: $text;
    font-size: rem(14px);
    font-family: $tildaMed;
    letter-spacing: 0.25px;
    text-decoration: none;
    transition: background-color .2s;

    @media (any-hover: hover) { //только для устройств с ховером
            &:hover{
                background-color: darken(#F2F2F5, 5%);
            }
        }

    &.active{
        background: rgb(0, 52, 104);
        color: #fff;
    }
}
// .toggle-mnu{
// 	position: fixed;
// 	right: 30px;
// 	top: 15px;
//   display: block;
//   width: 28px;
//   height: 28px;
//   margin-top: 14px;
//   padding: 0;
//   background-color: transparent;
//   border: none;

//   span:after, span:before{

//     content: "";
//     position: absolute;
//     left: 0;
//     top: 9px;
//   } 

//   span:after{

//     top: 18px;
//   }

//   span{

//     position: relative;
//     display: block;
//   } 

//   span, span:after, span:before{

//     width: 100%;
//     height: 2px;
//     background-color: #000;
//     transition: all 0.3s;
//     backface-visibility: hidden;
//     border-radius: 2px;
//   }


//   &.on span{

//     background-color: transparent;
//   } 

//   &.on span:before{

//     transform: rotate(45deg) translate(-1px, 0px);
//   } 

//   &.on span:after{

//     transform: rotate(-45deg) translate(6px, -7px);
//   } 
// }
// .btn{
//     text-transform: uppercase;
//     &-secondary{
//         border: 1px solid #C1C5C8;
//     }
//     &-danger{
//         color: #fff;

//         &:hover{
//             color: #fff;
//         }
//     }

//     &:disabled,
//     &.disabled,
//     fieldset:disabled & {
//         color: #878788;
//         background-color: #DADCDD;
//         opacity: 1;
//     }
// }
/*--------------------END ui----------------------*/ 