.checkout__bottom
	.checkout__block
		.checkout__group
			.checkout__compound.compound-checkout
				h2.block-title.block-title--semi Состав заказа

				- var prods = [{count: '1', price: '5 720 ₽'}, {count: '3', price: '36 720 ₽'}];
				each prod in prods
					.compound-checkout__item
						.compound-checkout__image-wrap
							.compound-checkout__count= prod.count
							a(href="#").compound-checkout__image
								img(src="img/checkout-page/1.jpg" alt="alt")
						
						.compound-checkout__body
							a(href="#").compound-checkout__title Tropic Wide Brim Stripe Casual
							.compound-checkout__sub NATURAL / M
						
						.compound-checkout__price= prod.price

			.checkout__coupon.coupon-checkout
				if checkoutErrors
					+inpBlock('Купон или сертификат', false, errorClass = true, activeClass = false, errorText = 'Неверный номер сертификата')
				else
					+inpBlock('Купон или сертификат', false, errorClass = false, activeClass = false, errorText = 'Неверный номер сертификата')
				//- input(autocomplete="off" type="text" name="coupon-checkout" class="form__input coupon-checkout__input" placeholder="Купон или сертификат")
				button.btn.btn-gray.coupon-checkout__use(type="button") Применить
			
			.checkout__result.result-checkout
				- var results = [{key:'Скидка', val: '- 930 ₽'}, {key:'Заказ 4 товара', val: '27 698 ₽'}, {key:'Доставка', val: '650 ₽'}];
				
				.result-checkout__content
					each item, i in results
						.result-checkout__key= item.key
						.result-checkout__val= item.val

				.result-checkout__final
					.result-checkout__final-key Итого 
					.result-checkout__final-val 37 720 ₽