- var tops = ['ФИО', 'Электронная почта', 'Телефон', 'Комментарий'];

each item in tops
	+ inpBlock(item)

.form__custom-policy
	label.form__custom
		input.form__check(type='checkbox' name='checkbox' value='chekbox1' checked='checked' required='required')
		span.form__custom-chek
	span.form__policy Позвоните мне, для подтверждения заказа