- var tops = ['ФИО', 'Электронная почта'];

each item in tops
	+ inpBlock(item)
.form__label
	.form__label-inner
		input.form__input(type='tel', name='name', placeholder=' ')
		button.inp-reset(type='button')
		label.form__placeholder Телефон

div(class="form__label")
	.form__label-inner.form__label-inner--area
		textarea(class="form__input form__area" name='name' placeholder=" ")
		button.inp-reset(type="button")
		label.form__placeholder Комментарий

.form__custom-policy
	label.form__custom
		input.form__check(type='checkbox' name='checkbox' value='chekbox1' checked='checked' required='required')
		span.form__custom-chek
	span.form__policy Позвоните мне, для подтверждения заказа