include ../_input-block
.product__booking
	- var tops = ['ФИО', 'Телефон', 'Комментарий'];

	.form__group
		+ inpBlock(tops[0])
		.form__label
			.form__label-inner
				input.form__input(type='tel', name='name', placeholder=' ')
				button.inp-reset(type='button')
				label.form__placeholder Телефон
		+ inpBlock(tops[2])
	
	.form__group
		label.form__label
			button.btn.btn-black.btn-fw.product-online-payment(type="button") оформить
		.form__text Нажав на кнопку «Оформить» Вы даёте согласие на обработку персональных данных в соответствии с #[a(href="#") Условиями], а также с  #[a(href="#") Условиями продажи.] С правилами возврата можно ознакомиться здесь.