section.blog-previews
	.blog-previews__wrapper
		h2.sect-title блоговые записи
		- var blogs = ['Как носить кепки задом наперед', 'Обзор коллекции Весна / Лето 2021', 'Коллаборация KANGOL x STAPLE'];
		
		.blog-previews-grid
			each item, i in blogs
				a(href="#").blog-preview
					.blog-preview__img._fit
						img._fit-img(src="img/blog-previews/"+(i+1)+".jpg" alt="alt")
					.blog-preview__content
						.blog-preview__title= item

		.btn-wrap
			a(href="#").btn.btn-centered архив статей