section.blog-previews
	.blog-previews__wrapper
		h2.sect-title блоговые записи
		- var blogs = ['Как носить кепки задом наперед', 'Обзор коллекции Весна / Лето 2021', 'Коллаборация KANGOL x STAPLE'];
		
		.blog-previews-grid
			each item, i in blogs
				article.blog-preview
					a(href="#").blog-preview__img._fit
						img._fit-img(src="img/blog-previews/"+(i+1)+".jpg" alt="alt")
					.blog-preview__content
						h3.blog-preview__title
							a(href="#")= item

		.btn-wrap
			a(href="#").btn.btn-centered архив статей