.index-categories
	- var cats = ['Головные уборы', 'Одежда', 'Сумки'];
	.index-categories__wrapper
		.index-categories__grid
			each item, i in cats
				a(href="#").index-category
					.index-category__img._fit
						img._fit-img(src="img/index-cats/lg/"+(i+1)+".jpg" alt="alt")
					
					.index-category__title= item