section.new-items
	.new-items__wrapper
		h2.sect-title НОВИНКИ

		- var cards = [{name: 'Tropic Wide Brim Stripe Casual', price: '15 300 ₽'}, {name: 'Cardinal 2 Way Beanie', price: '3 200 ₽'}, {name: 'Retro Quaint Spacecap', price: '5 600 ₽'}, {name: 'Tropic Casual', price: '15 300 ₽'}, {name: 'Tropic Casual', price: '15 300 ₽'}, {name: 'Tropic Casual', price: '15 300 ₽'}]
		
		.product-cards.product-cards--items
			each item, i in cards
				.product-card
					.product-card__slider
						.slider.slider-product
							.slider-product__slide
								img.img-fluid(data-lazy='./img/source/temp/p-4.png', alt='')
							.slider-product__slide
								img.img-fluid(data-lazy='./img/source/temp/p-2.jpg', alt='')
							.slider-product__slide
								img.img-fluid(data-lazy='./img/source/temp/p-3.jpg', alt='')
				
					.product-card__title= item.name
					.product-card__price= item.price

		
		a(href="#").btn.btn-centered(type="button") все новинки