mixin inpBlock(item, val = false, errorClass = false, activeClass = false)
	.form__label
		input(class=errorClass ? "form__input form__input--error" : activeClass ? "form__input form__input--active" : "form__input" type='text' name='name' placeholder=" " value=val?val:false)
		button.inp-reset(type="button")
		label.form__placeholder= item