/*--------------------bestsellers----------------------*/
.bestsellers {
	padding-top: rem(80px);
}
.bestsellers__wrapper {}
.sect-title {}
.bestsellers__title {
	margin-bottom: rem(32px);
}
.bestsellers__content {
	
	padding-top: rem(16);
	
	
	background-color: #F2F2F5;

	
	
}
.bestsellers__items {
	display: flex;
	column-gap: rem(8px);
	// overflow-x: scroll;
}
.bestsellers__item {
	width: rem(200);
	padding-bottom: rem(18px);
	flex: 0 0 rem(200);
	text-decoration: none;
}
.item-bestsellers {}
.item-bestsellers__img {
	padding-bottom: 0;
	aspect-ratio: 1 / 1;
	margin-bottom: rem(16px);
	border-radius: rem(8);
	overflow: hidden;
}
._fit {}
._fit-img {}
.item-bestsellers__title {
	font-size: rem(15px);
	font-family: $tildaMed;
	line-height: math.div(23.41,15);
	letter-spacing: 0.37px;
}
/*--------------------END bestsellers----------------------*/ 