/*--------------------blog-previews----------------------*/
.blog-previews {
	padding-top: rem(80px);
}
.blog-previews__wrapper {}
.sect-title {}
.blog-previews-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(rem(300), 100%), 1fr));
	column-gap: rem(16px);
}
.blog-preview {
	text-decoration: none;
	// margin-bottom: rem(32px);
}
.blog-preview__img {
	aspect-ratio: 16 / 9;
	padding-bottom: 0;
	margin-bottom: rem(16px);
}
.blog-preview__title {
	margin-bottom: rem(16px);
	font-size: rem(18px);
	font-family: $tildaMed;
	line-height: math.div(20,18);

	&:only-child {
		margin-bottom: rem(32px);
	}

	// &:first-child:last-child{
	// 	margin-bottom: rem(32px);
		
	// }
}
.blog-preview__text {
	margin-bottom: rem(44);
	font-size: rem(14px);
	line-height: math.div(19,14);
	color: $textLight;
}
/*--------------------END blog-previews----------------------*/ 