/*--------------------index-categories----------------------*/
.index-categories{
	margin-bottom: rem(80px);
}
.index-categories__grid{
	// max-width: rem(328);
	margin-inline: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: rem(8);
}
.index-category{
	text-decoration: none;
	transition: opacity .2s;
	
	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				opacity: 0.9;
			}
		}
}
.index-category__img{
	margin-bottom: rem(6);
	margin-bottom: rem(16);
	aspect-ratio: 115 / 123;
	border-radius: rem(8px);
	overflow: hidden;
	background-color: #FAFAFA;

	._fit-img{
		width: 90%;
		height: auto;
		@include absolute-center-old();
		bottom: 0;
	}

}
.index-category__title{
	text-align: center;
	font-size: 14px;
	font-family: $tildaMed;
	line-height: math.div(9.2,12);

	@include min-screen($md){
		font-size: rem(20px);
		font-family: $tildaMed;
	}
}
/*--------------------END index-categories----------------------*/ 