.mob-modal.modal-search
		.modal-bg
		.mob-modal-box
			.modal-search-content
				.modal-search-field
					.api-query
						input.input.api-search-input(type='text', placeholder='')
						span.api-clear-icon
				.modal-search-title &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy;
				.product-list-search
					.product-search
						.img
							a(href='#')
								img.img-fluid.lazy(src='./img/temp/s-1.png', alt='')
						.right
							.title
								a(href='#')  Wool 504 
							.price 1 300 &rcy;&ucy;&bcy;.
					.product-search
						.img
							a(href='#')
								img.img-fluid.lazy(src='./img/temp/s-1.png', alt='')
						.right
							.title
								a(href='#')  Wool 504 
							.price 1 300 &rcy;&ucy;&bcy;.
					.product-search
						.img
							a(href='#')
								img.img-fluid.lazy(src='./img/temp/s-2.png', alt='')
						.right
							.title
								a(href='#')  Tropic Wide Brim Stripe Casual 
							.price 1 300 &rcy;&ucy;&bcy;.
				.text-right
					a.link-read-more(href='#') &pcy;&ocy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &iecy;&shchcy;&iocy;
				.modal-search-title &Scy;&tcy;&acy;&tcy;&softcy;&icy;
				.modal-article-list
					.img
						a(href='#')
							img.img-fluid.lazy(src='./img/temp/art.png', alt='')
					.img
						a(href='#')
							img.img-fluid.lazy(src='./img/temp/art2.png', alt='')
				.modal-search-title &TScy;&vcy;&iecy;&tcy;&acy;
				.modal-color-list
					.color-search
						.img
							img(src='./img/coll-1.png', alt='')
						.text Old Gold
					.color-search
						.img
							img(src='./img/coll-2.png', alt='')
						.text Fanfare
					.color-search
						.img
							img(src='./img/coll-3.png', alt='')
						.text Electric Pink
				.modal-search-title &Tcy;&ecy;&gcy;&icy;
				.tag-list.no-scroll-list
					.tag
						a(href='#') #&Zcy;&icy;&mcy;&ncy;&icy;&iecy; &bcy;&iecy;&jcy;&scy;&bcy;&ocy;&lcy;&kcy;&icy;
					.tag
						a(href='#') #&CHcy;&iecy;&rcy;&ncy;&ycy;&iecy;
					.tag
						a(href='#') #&Scy;&icy;&ncy;&icy;&iecy;
					.tag
						a(href='#') #&Mcy;&iecy;&khcy;&ocy;&vcy;&ycy;&iecy;