.mob-modal.modal-cart
	.modal-bg
	button(type="button").modal-close.modal-cart__close
		svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(d='M1.5 1.5L12.5 12.5M12.5 1.5L1.5 12.5', stroke='#1C1C1E', stroke-width='2')
	.mob-modal-box.modal-cart__box
		.modal-cart-title &Kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
		.modal-cart-list
			- var products = [{name:'Tropic Wide Brim Stripe Casual', price: '3 200 ₽', color: 'Old Gold', size:'Medium'}, {name:'504 Kangol Cap', price: '15 200 ₽', color: 'Electric Pink/Off White', size:'X-Large'}, {name:'Wool Jax Beret', price: '5 670 ₽', color: 'Dark Blue', size:'Small'}];
			each prod, i in products
				.modal-cart__product.cart-product
					.cart-product__img._prod-img
						img(src="img/cart/1.jpg" alt="alt")
					.cart-product__info
						.cart-product__title= prod.name
						.cart-product__price= prod.price
						.cart-product__row
							.cart-product__key Цвет:
							.cart-product__value= prod.color
						.cart-product__row
							.cart-product__key Размер:
							.cart-product__value= prod.size
						.cart-product__row.cart-product__row--count
							.cart-product__key Кол-во:
						.cart-product__row.cart-product__row--counter

							.cart-product__counter
								.counter(data-min="0" data-max="17")
									span.counter__button.counter-minus
										svg(width='8.000000', height='1.600098', viewBox='0 0 8 1.6001', fill='none', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
											path(id='+', d='M0.19 0C0.05 0 0 0.09 0 0.23L0 1.34C0 1.48 0.05 1.6 0.19 1.6C0.33 1.6 7.66 1.6 7.8 1.6C7.94 1.6 8 1.48 8 1.34C8 1.34 8 0.37 8 0.23C8 0.09 7.94 0 7.8 0C7.66 0 0.33 0 0.19 0Z', fill='#1C1C1E', fill-opacity='1.000000', fill-rule='nonzero')
									.counter__block
										input(autocomplete="off" type="hidden" name="name" value="16" )
										.counter__count 16
									span.counter__button.counter-plus
										svg(width='8.000000', height='8.000000', viewBox='0 0 8 8', fill='none', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
											path#Union(d='M4.56641 0C4.70312 0 4.80078 0.0566406 4.80078 0.195312L4.80078 3.19629L7.80469 3.19629C7.94336 3.19629 8 3.29395 8 3.43018L8 4.54248C8 4.6792 7.94336 4.79639 7.80469 4.79639L4.80078 4.79639L4.80078 7.80469C4.80078 7.94287 4.70312 8 4.56641 8L3.45312 8C3.31836 8 3.20117 7.94287 3.20117 7.80469L3.20117 4.79639L0.195312 4.79639C0.0566406 4.79639 0 4.6792 0 4.54248L0 3.43018C0 3.29395 0.0566406 3.19629 0.195312 3.19629L3.20117 3.19629L3.20117 0.195312C3.20117 0.0566406 3.31836 0 3.45312 0L4.56641 0Z', clip-rule='evenodd', fill='#1C1C1E', fill-opacity='1.000000', fill-rule='evenodd')
		
							button(type="button").cart-product__remove Удалить
		
		.modal-cart__footer.footer-modal-cart
			.footer-modal-cart__inner
				.footer-modal-cart__header
					.footer-modal-cart__label Сумма заказа
					.footer-modal-cart__price 38 790 ₽
				
				.footer-modal-cart__text
					p Стоимость доставки и скидки по промокоду будут расчитаны на этапе оформления заказа
				.block-btn
					a.btn(href='#') &ocy;&fcy;&ocy;&rcy;&mcy;&icy;&tcy;&softcy; &zcy;&acy;&kcy;&acy;&zcy;