.mob-modal.modal-size
	.modal-bg
	
	button(type="button").modal-close.modal-cart__close.modal-size__close
		svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(d='M1.5 1.5L12.5 12.5M12.5 1.5L1.5 12.5', stroke='#1C1C1E', stroke-width='2')
	
	.mob-modal-box.modal-size__box
		.title.modal-size__title &Kcy;&acy;&kcy; &vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &rcy;&acy;&zcy;&mcy;&iecy;&rcy; ?

		.modal-size__container
			.modal-size-preview-text
				p
					| Определить свой размер очень просто! Возьмите сантиметр и измеряйте охват вашей головы по вискам и затылку. Получившееся значение соотносите с размерами в таблице ниже.
			table.modal-size__table()
				thead
					tr.table-box-header
						td &Fcy;&lcy;&iecy;&kcy;&scy;&fcy;&icy;&tcy;
						td &Rcy;&acy;&zcy;&mcy;&iecy;&rcy;
						td &Scy;&acy;&ncy;&tcy;&icy;&mcy;&iecy;&tcy;&rcy;&ycy;
				tbody
					tr
						td
							span.td-inner S/M
						td.bordered
							span.td-inner S
							|  
							span.td-inner M
						td.bordered
							span.td-inner 54-55
							|  
							span.td-inner 56-57
					tr
						td
							span.td-inner L/XL
						td.bordered
							span.td-inner L
							|  
							span.td-inner XL
						td.bordered
							span.td-inner 58-59
							|  
							span.td-inner 60-61
					tr
						td
							span.td-inner XXL
						td
							span.td-inner XXL
						td
							span.td-inner 62-63
					tr
						td
							span.td-inner 1SFM
						td
							span.td-inner S-XXL
						td
							span.td-inner 54-63
			
			.modal-size__block
					img.img-fluid.lazy(src='./img/source/img-modal-size-head.svg', alt='')
				.image
			
			.modal-size__block
				.modal-size__subtitle
					span 1sfm
					| Один размер 
				.modal-size__text
					p
						| &Tcy;&acy;&kcy; &ncy;&acy;&zcy;&ycy;&vcy;&acy;&iecy;&mcy;&ycy;&jcy; &quot;1sfm&quot;, &chcy;&tcy;&ocy; &ocy;&zcy;&ncy;&acy;&chcy;&acy;&iecy;&tcy; &quot;&ocy;&dcy;&icy;&ncy; &rcy;&acy;&zcy;&mcy;&iecy;&rcy; &pcy;&ocy;&dcy;&khcy;&ocy;&dcy;&icy;&tcy; &vcy;&scy;&iecy;&mcy;&quot; - &icy;&mcy;&iecy;&yucy;&tcy;
						| &tcy;&iecy; &gcy;&ocy;&lcy;&ocy;&vcy;&ncy;&ycy;&iecy; &ucy;&bcy;&ocy;&rcy;&ycy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &rcy;&acy;&scy;&chcy;&icy;&tcy;&acy;&ncy;&ycy; &ncy;&acy; &lcy;&yucy;&dcy;&iecy;&jcy; &scy; &acy;&bcy;&scy;&ocy;&lcy;&yucy;&tcy;&ncy;&ocy; &lcy;&yucy;&bcy;&ycy;&mcy; &rcy;&acy;&zcy;&mcy;&iecy;&rcy;&ocy;&mcy; &gcy;&ocy;&lcy;&ocy;&vcy;&ycy;.
					p
						| &Kcy;&acy;&kcy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&ocy; &ecy;&tcy;&ocy; &ocy;&tcy;&ncy;&ocy;&scy;&icy;&tcy;&softcy;&scy;&yacy; &kcy; &shcy;&acy;&pcy;&kcy;&acy;&mcy; &icy; &bcy;&iecy;&jcy;&scy;&bcy;&ocy;&lcy;&kcy;&acy;&mcy; &scy; &rcy;&iecy;&gcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy;&ocy;&mcy; &rcy;&acy;&zcy;&mcy;&iecy;&rcy;&acy;
			
			.modal-size__block
				.modal-size__subtitle
					img(src="img/source/flexfit.svg" alt="alt")
					| Флексфит
				.modal-size__text
					p
						| &IEcy;&scy;&lcy;&icy; &ncy;&acy; &mcy;&ocy;&dcy;&iecy;&lcy;&icy; &ucy;&kcy;&acy;&zcy;&acy;&ncy;&ycy; &pcy;&ocy;&gcy;&rcy;&acy;&ncy;&icy;&chcy;&ncy;&ycy;&iecy; &rcy;&acy;&zcy;&mcy;&iecy;&rcy;&ycy;, &tcy;&acy;&kcy;&icy;&iecy; &kcy;&acy;&kcy; small/medium, large/x-large - &ecy;&tcy;&ocy; &ocy;&zcy;&ncy;&acy;&chcy;&acy;&iecy;&tcy; &chcy;&tcy;&ocy; &mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &scy;&ocy;&zcy;&dcy;&acy;&ncy;&acy; &pcy;&ocy; &tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&icy; &fcy;&lcy;&iecy;&kcy;&scy;&fcy;&icy;&tcy;.
					p
						| &Fcy;&lcy;&iecy;&kcy;&scy;&fcy;&icy;&tcy; &ecy;&tcy;&ocy; &rcy;&iecy;&zcy;&icy;&ncy;&kcy;&acy; &vcy;&shcy;&icy;&tcy;&acy;&yacy; &vcy; &ocy;&scy;&ncy;&ocy;&vcy;&acy;&ncy;&icy;&icy; &gcy;&ocy;&lcy;&ocy;&vcy;&ncy;&ocy;&gcy;&ocy; &ucy;&bcy;&ocy;&rcy;&acy;, &kcy;&ocy;&tcy;&ocy;&rcy;&acy;&yacy; &scy;&ocy;&zcy;&dcy;&acy;&iecy;&tcy; &ocy;&dcy;&icy;&ncy;&acy;&kcy;&ocy;&vcy;&ycy;&jcy; &kcy;&ocy;&mcy;&fcy;&ocy;&rcy;&tcy; &pcy;&rcy;&icy; &ncy;&ocy;&shcy;&iecy;&ncy;&icy;&icy; &dcy;&acy;&zhcy;&iecy; &ucy; &lcy;&yucy;&dcy;&iecy;&jcy; &scy;&ocy;&vcy;&scy;&iecy;&mcy; &rcy;&acy;&zcy;&ncy;&ycy;&mcy;&icy; &rcy;&acy;&zcy;&mcy;&iecy;&rcy;&acy;&mcy;&icy; &gcy;&ocy;&lcy;&ocy;&vcy;&ycy;.
				
			.modal-size__block
				.modal-size__text.modal-size__text--final
						p
							| &Tcy;&acy;&kcy; &icy;&lcy;&icy; &icy;&ncy;&acy;&chcy;&iecy;, &iecy;&scy;&lcy;&icy; &vcy;&ycy; &ocy;&shcy;&icy;&bcy;&iecy;&tcy;&iecy;&scy;&softcy; &scy; &vcy;&ycy;&bcy;&ocy;&rcy;&ocy;&mcy; &rcy;&acy;&zcy;&mcy;&iecy;&rcy;&acy; - &ecy;&tcy;&ocy; &ncy;&iecy; &bcy;&ucy;&dcy;&iecy;&tcy; &bcy;&ocy;&lcy;&softcy;&shcy;&ocy;&jcy; &ncy;&iecy;&pcy;&rcy;&icy;&yacy;&tcy;&ncy;&ocy;&scy;&tcy;&softcy;&yucy;. &Vcy;&iecy;&dcy;&softcy; &vcy; &ncy;&acy;&shcy;&iecy;&mcy; &mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;&iecy; &vcy;&ycy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &scy;&mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &scy;&dcy;&iecy;&lcy;&acy;&tcy;&softcy; &ocy;&bcy;&mcy;&iecy;&ncy; &ncy;&acy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ycy;&jcy;!