.mob-modal.modal-search
		.modal-bg
			
		.mob-modal-box.modal-search__box
			.modal-search__top
				input(autocomplete="off" type="text" name="" class="modal-search__input" placeholder="что ищем?")

				button(type="button").modal-close.modal-search__close
					svg(width='18', height='18', viewBox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
						path(d='M16.8697 3.48792C17.0709 3.28672 17.0996 2.97056 16.8984 2.76936L15.2599 1.13081C15.0587 0.929616 14.7138 0.929614 14.5126 1.13081L8.99344 6.64993L3.44558 1.10207C3.24438 0.900872 2.95695 0.900872 2.75575 1.10207L1.11721 2.74062C0.916011 2.94181 0.887268 3.25798 1.08847 3.45918L6.63633 9.00704L1.11721 14.5262C0.916011 14.7274 0.916012 15.0723 1.11721 15.2735L2.75575 16.912C2.95695 17.1132 3.27312 17.0845 3.47432 16.8833L8.99344 11.3642L14.5408 16.9115C14.742 17.1127 15.0581 17.0839 15.2593 16.8828C15.2593 16.8828 16.6967 15.4454 16.8979 15.2442C17.0991 15.043 17.0991 14.7556 16.8979 14.5544C16.6967 14.3532 11.3505 9.00704 11.3505 9.00704L16.8697 3.48792Z', fill='#1C1C1E')
			
			.modal-search__results
				- var results = ['<span>Wool</span> 504', '<span>Wool</span> Flexfit Baseball', 'Tropic <span>Wool</span> Brim Stripe Casual', '<span>Wool</span> Flexfit Baseball', '<span>Wool</span> 504'];
				.modal-search__category Модель
				ul.modal-search__list
					each item in results
						.modal-search__item!= item

				a(href="#").modal-search__more показать ещё