.mob-modal.modal-cart
	.modal-bg
	button(type="button").modal-close.modal-cart__close
		svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(d='M1.5 1.5L12.5 12.5M12.5 1.5L1.5 12.5', stroke='#1C1C1E', stroke-width='2')
	.mob-modal-box.modal-cart__box
		.modal-cart-title &Kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
		.modal-cart-list
			.modal-cart__empty
				.modal-cart__empty-message
					p Ваша корзина пуста, добавьте в неё товары!

				- var similar = ['Cardinal 2 Way Beanie', 'Wool Flexfit Baseball', 'Tropic Wide Brim Stripe Casual', 'Retro Quaint Spacecap'];
				.modal-cart__similar
					.modal-cart__similar-title Вы недавно смотрели:
					.modal-cart__similar-cards
						- for (var i=0; i < 2; i++)
							each item, i in similar
								a(href="#").modal-cart__similar-item.similar-item
									.similar-item__img._prod-img
										img(src="img/cart-similar/"+(i+1)+".jpeg" alt="alt")
									.similar-item__title= item

						a(href="#").modal-cart__similar-item.similar-item
							.similar-item__img._prod-img
								img(src="img/cart-similar/3.jpeg" alt="alt")
							.similar-item__title Tropic Wide Brim Stripe Casual