.mob-modal.modal-cart
	.modal-bg
	.mob-modal-box
		.modal-cart-title &Kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
		.modal-cart-list
			.modal-cart-block
				a.link(href='#')
				.img
					img.img-fluid(src='./img/temp/p-3.jpg', alt='')
				.content
					.t-right
						.remove
					.title
						| Tropic Wide Brim Stripe Casual Tropic Wide Brim Stripe Casual
					.attr-val
						.line
							| &TScy;&vcy;&iecy;&tcy;: 
							span Electric Pink Electric Pink 
						.line
							| &Rcy;&acy;&zcy;&mcy;&iecy;&rcy;: 
							span Medium
						.line
							| &TScy;&iecy;&ncy;&acy;: 
							span 3 200 &rcy;&ucy;&bcy;.
						.line
							| &Kcy;&ocy;&lcy;-&vcy;&ocy;: 
							span 1 &shcy;&tcy;.
			.modal-cart-block
				a.link(href='#')
				.img
					img.img-fluid(src='./img/temp/p-3.jpg', alt='')
				.content
					.t-right
						.remove
					.title Tropic Wide Brim Stripe Casual
					.attr-val
						.line
							| &TScy;&vcy;&iecy;&tcy;: 
							span Electric Pink
						.line
							| &Rcy;&acy;&zcy;&mcy;&iecy;&rcy;: 
							span Medium
						.line
							| &TScy;&iecy;&ncy;&acy;: 
							span 3 200 &rcy;&ucy;&bcy;.
						.line
							| &Kcy;&ocy;&lcy;-&vcy;&ocy;: 
							span 1 &shcy;&tcy;.
			.modal-cart-block
				a.link(href='#')
				.img
					img.img-fluid(src='./img/temp/p-3.jpg', alt='')
				.content
					.t-right
						.remove
					.title Tropic Wide Brim Stripe Casual
					.attr-val
						.line
							| &TScy;&vcy;&iecy;&tcy;: 
							span Electric Pink
						.line
							| &Rcy;&acy;&zcy;&mcy;&iecy;&rcy;: 
							span Medium
						.line
							| &TScy;&iecy;&ncy;&acy;: 
							span 3 200 &rcy;&ucy;&bcy;.
						.line
							| &Kcy;&ocy;&lcy;-&vcy;&ocy;: 
							span 1 &shcy;&tcy;.
		.block-btn
			a.btn(href='#') &ocy;&fcy;&ocy;&rcy;&mcy;&icy;&tcy;&softcy; &zcy;&acy;&kcy;&acy;&zcy;