/*--------------------catalog----------------------*/
.catatalog {
	@include min-screen($md){
		margin-bottom: rem(80px);
	}
}
.catatalog__content {
	.product-cards{
		margin-bottom: rem(44px);

		@include min-screen($md){
			
			margin-bottom: rem(60px);
		}
	}
}
.catatalog__header {
	display: flex;
	// flex-wrap: wrap;
	margin-top: rem(-10px);
	// justify-content: space-between;
	align-items: center;
	column-gap: rem(10);
	margin-bottom: rem(32px);

	@include max-screen($min){
		flex-direction: column;
		align-items: flex-start;
		row-gap: rem(16px);
	}
	@include min-screen($md){
		margin-bottom: rem(24);
	}

	.block-title{
		margin-bottom: 0;
	}
}
.catatalog__filter-open{
	margin-right: rem(-16px);
	margin-left: auto;
	@include but-null();
	height: rem(44px);
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: rem(11);

	@include max-screen($md){
		width: rem(44px);
		
	}

	.select-native &{
		display: none;
	}

}
.fstdropdown-select.fstcreated{
	.select-native &{
		display: block;
	}
}
.catatalog__tags{
	margin-bottom: rem(24px);
}
.catatalog__filter-caption{
	font-size: rem(14px);
	line-height: math.div(12, 14);
	letter-spacing: 0.3px;
	text-transform: uppercase;

	@include max-screen($md){
		display: none;
	}
}
.catatalog__select {

	.select-native &{
		@include min-screen($min){
			margin-left: auto;
			
		}
	}

	.fstdiv{
		width: 0;
		height: 0;
		position: absolute;
		right: 0;
		outline: none;
		border: mone;
	}
	.fstdropdown{
		width: 0;
		border: none;
		height: 0;
	}
	.fstdropdown > .fstselected{
		width: 0;
		height: 0;
		padding: 0;
	}
	.fstdropdown.open > .fstlist{
		top: rem(9);
		width: rem(190);
		right: 1rem;
		// border-radius: rem(12px);
	}
	.fstlist > div{
		padding: rem(10) rem(16px);
		font-size: rem(14px);
		line-height: math.div(20.5,14);
		letter-spacing: -0.41px;
		border-bottom-color: #C1C5C8;
		background: #fff;
		color: #636366;

		&:last-child{
			border-bottom-color: transparent;
		}

		&.selected{
			// padding-left: 2rem;
			background-color: #E5E5EA;
			color: $text;
			// background-image: url(../img/icons/check.svg);
			// background-position: rem(16) center;
			// background-repeat: no-repeat;
		}

		&:hover{
			color: $text;
			background-color: #E5E5EA;
			
		}
		
	}
}
.fstdropdown-select {}
.catatalog__content {}
/*--------------------END catalog----------------------*/ 