/*--------------------header----------------------*/
@import "../_source/mob_header";
@import "_misc/single-dropdown";//один или несколько дропдаунов в составе обычного меню. Требует подключения service-functions/dropdown-toggle.js, mobileDetect.js + siblings.js + removeClass

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 900;

	border-bottom: 1px solid rgb(229, 229, 234);


    &__wrapper{
    	position: relative;
    	height: 58px;
    	display: flex;
    	align-items: center;
    	// justify-content: space-between;
    }
    &__logo{
    	width: 118px;
    	img{
    		display: block;
    	}
    }
}
.mob-menu-trigger{
	margin-left: auto;

	@include min-screen($md){
		display: none;
	}
}
.header-nav{
	display: none;
	margin-left: rem(40);
	@include min-screen($md){
		display: block;
	}
}
.header-nav__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: rem(32);
	row-gap: rem(8);
}
.header-nav__item {
	list-style-type: none;
}
.header-nav__link {
	font-size: rem(14);
	line-height: math.div(19,14);
	font-family: $tildaMed;
	transition: color 0.2s ease;
	text-decoration: none;

	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				color: $accent;
			}
		}
}
.header-nav__submenu{
	width: 100%;
	height: rem(254);
	padding: rem(30px) rem(16px) rem(30) rem(182px);
	column-width: rem(130px);
	columns-gap: rem(32px);
	column-fill: auto;
	background-color: #fff;
}
.header-nav__submenu-item{

	&:not(:last-child){
		margin-bottom: rem(15px);
	}
}
.header-nav__submenu-link{
	font-family: $tildaMed;
	font-size: rem(14px);
	line-height: math.div(19,14);
	text-decoration: none;
	@media (any-hover: hover) { //только для устройств с ховером

			&:hover{
				color: $textLight;
			}
		}
}
.mob-cart{
	@include min-screen($md){
		right: 20px;
	}
}
.mob-search{
	@include min-screen($md){
		right:64px;
	}
}
.header__announcement {
	background-color: $accent;

	@include max-screen($md){
		display: none;
	}
}
.announcement-header {}
.announcement-header__wrapper {
	padding-block: rem(11.5);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.announcement-header__body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: rem(32);
	color: rgb(255, 255, 255);
	font-size: rem(13px);
	font-family: $tildaMed;
	line-height: 1;
	text-transform: uppercase;
}
.announcement-header__text {
}
.announcement-header__link {
	display: flex;
	align-items: center;
	column-gap: rem(8);
	margin-left: rem(32);
	text-decoration: none;
	color: #fff;
}
.announcement-header__close {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	@include but-null();
	height: rem(32);
	width: rem(24);
	display: flex;
	align-items: center;
	justify-content: center;
}
/*--------------------END header----------------------*/ 