/*=====================Product=========================*/
@import '../_source/mob_card';
.product {
	@include min-screen($md){
		margin-bottom: rem(80px);
	}
}
.product__wrapper {
	@include min-screen($md){
		display: flex;
		column-gap: rem(8px);
		align-items: flex-start;
	}
}
.product__view {
	position: relative;
	min-width: 0;
	min-height: 0;
	
	@include max-screen($md){
		
		margin-bottom: rem(32px);
		max-width: rem(360px);
		margin-inline: auto;
	}
	@include min-screen($md){
		flex: 1 1 auto;
	}
	.product-card {
		margin-bottom: rem(30);
	}

}
.view-product__container{
	@include min-screen($md){
		display: flex;

	}
}
.view-product__thumbs{
	width: rem(60px);
	// position: fixed;
	position: sticky;
	top: rem(122);
	// left: rem(16px);
	z-index: 2;

	// &--sticky{
	// 	left: auto;
	// }

	@include max-screen($md){
		display: none;
	}
}
.view-product__thumb{
	@include but-null;
	height: rem(60px);
	width: rem(60px);
	position: relative;
	display: block;


	&:not(:last-child){
		margin-bottom: rem(16px);
	}

	img{
		@include absolute-center;
	}
}
.view-product__slider{
	@include min-screen($md){
		display: none;
	}
}
.view-product__images{
	// padding-left: rem(60px);
	flex: 1 1 auto;

	@include max-screen($md){
		display: none;
	}
}
.view-product__image{
	padding-bottom: 0;
	aspect-ratio: 1 / 1;
	
	&:not(:last-child){
		margin-bottom: rem(8px);
	}

	&--video{
		max-width: rem(600px);
		max-height: rem(600px);
		margin-inline: auto;
	}
}
.slider-product {
	&__slide{
		
	}
	&__img{
		position: relative;
		aspect-ratio: 1 / 1;
		padding-bottom: 0;

		._fit-img{
			&.slick-loading{
				opacity: 0;
			}
		}
	}
}
.slide {}
.img-fluid {}
.product__info {
	@include min-screen($md){
		position: sticky;
		top: 131px;
		flex: 0 0 rem(360);
		padding: rem(48px) rem(24px);
		border-radius: rem(10px);
		background-color: #F2F2F5;
	}
}
.product__block {
	&:not(:last-child){
		
		margin-bottom: rem(44);
	}
}
.product__name {
	margin-bottom: rem(26);
	font-size: rem(25px);
	line-height: 1;
}
.product__price {
	font-size: rem(17px);
	// line-height: math.div(26,17);
	line-height: 1;
}
.product__colors {}
.colors-product {}
.colors-product__header {
	margin-bottom: rem(24);
	display: flex;
	align-items: baseline;
	column-gap: rem(24);

	.product__info-title {
		margin-bottom: 0;
	}
}
.colors-product__key {
	flex-shrink: 0;
}
.product__info-title {
	margin-bottom: rem(24px);
	font-family: $tildaSemi;
	font-size: rem(17px);
	line-height: math.div(15,17);
	text-transform: uppercase;
	color: $accent;
}
.colors-product__val {
	font-family: $tildaMed;
	font-size: rem(17px);
	line-height: math.div(15,17);
}
.colors-product__list {
	display: flex;
	flex-wrap: wrap;
	gap: rem(8px);
}
.colors-product__item {
	position: relative;
	// flex: 0 0 rem(48px);
	// height: rem(48px);
	flex-shrink: 0;
}
.colors-product__input {
	@include checkbox();

	&:checked + .colors-product__color {
		&:before{
			display: block;
		}
	}
}
.colors-product__color {
	position: relative;
	width: rem(48px);
	height: rem(48px);
	display: flex;
	align-items: center;
	justify-content: center;


	@include min-screen($md){
		width: rem(32px);
		height: rem(32px);
	}

	&:before{
		content: '';
		@include absolute-center;
		display: none;
		width: rem(11px);
		height: rem(11px);
		border-radius: 50%;
		background-color: #fff;
		z-index: 2;
	}

	img{
		@include absolute-center;
		display: block;
		width: rem(28px);
		height: rem(28px);
	}
}
.list-size {}
.list-size__label {
	position: relative;


	.list-size &{
		@include min-screen($md){
			margin-left: rem(4);
			margin-right: rem(4);
			width: calc(20% - 0.5rem);
		}

	}

	&--link{
		margin-left: auto;
		text-align-last: left;

		.list-size &{
			margin-left: auto;

			@include min-screen($md){
				width: 100%;
				margin-left: rem(8px);
			}
		}

		.list-size__item{
			align-items: flex-start;
		}
	}
	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;
			&:hover{
	
			}
		}
}
.list-size__radio {
	@include checkbox();
	&:checked + .list-size__item {
		background-color: #E5E5EA;
	}
}

.list-size__item-name {}
.list-size__item-value {}
.list-size__item--link {}
.js-modal-size {}
.active {}
.list-size__item-action {
	font-family: $tildaBold;
	font-size: rem(13px);
	line-height: 1;
	letter-spacing: 0.06px;
}
.product__to-cart{
	padding-bottom: rem(32px);
	border-bottom: 1px solid rgb(229, 229, 234);
}
.mob-main-item {}
.mob-card-availability {}
.mob-card-availability-list {}
.mob-card-availability-list__item {}
.mob-card-availability-list__item-name {}
.mob-card-availability-list__item-data {}
.mob-card-availability-list__item-value {}
.mob-card-availability-list__item-book {}
.product__subtitle {
	margin-bottom: rem(24px);
	font-size: rem(15px);
	line-height: math.div(18,15);

	.product__spoilers &{
		margin-bottom: rem(16px);
		font-family: $tildaSemi;
	}
}
.product__text {
	p{
		font-size: rem(14px);
		line-height: math.div(19,14);
		color: #636366;

		&:not(:last-child){
			margin-bottom: rem(16px);
		}
	}
}
.mob-card-availability-list__contain{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: rem(8);
	max-width: rem(136px);

	&:not(:last-child){
		margin-bottom: rem(6);
	}
}
.product__booking{
	display: none;
	margin-bottom: rem(8);
	border-radius: rem(6px);
	background-color: #F2F2F5;

	@include min-screen($md){
		background-color: #E5E5EA;
	}

	&.active{
		display: block;
	}

	.form__label{
		
		&:not(:last-child){
			margin-bottom: 1rem;
		}
	}
}
.product__spoilers{
	.product__block{

		&:not(:last-child){
			margin-bottom: 32px;
		}

	}
}
.product-online-payment{
	@include min-screen($md){
		height: 54px;
  		font-size: 15px;
  		font-family: $tildaBold;
	}	
}
/*===================== end Product======================*/ 