/*--------------------product-card----------------------*/
.product-cards {
    display: grid;
    column-gap: rem(8);

    row-gap: rem(24);
    

    @include min-screen($xss){
        grid-template-columns: repeat(2, 1fr);
    }
    @include min-screen($sm){
        grid-template-columns: repeat(3, 1fr);

    }
    @include min-screen($md){
        grid-template-columns: repeat(4, 1fr);
    }
    @include min-screen($lg){
        grid-template-columns: repeat(5, 1fr);
    }

     &--items{
         // grid-template-columns: repeat(2, 1fr);
        margin-bottom: rem(44);

        @include max-screen($xss){
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .title a{
    	font-size: rem(18px);
    }

}
@import '../_source/mob_product_card';
.product-card {
    min-width: 0;
}
.product-card__slider {
    margin-bottom: rem(16px);

    .slick-dots{
    	bottom: 0;
    }
}
.slider-product__slide{
    // aspect-ratio: 159 / 173;
    text-align: center;
}
.product-card__img{
    @extend .slider-product__img;
}
.product-card__text {
    padding-inline: rem(16px);
}
.product-card__title {
    margin-bottom: rem(16);
    font-size: rem(15);
}
.product-card__price {
    font-size: rem(13px);
    font-family: $tildaSemi;
    line-height: math.div(10,13);
    color: #8E8E93;
}
.product__colors{
    display: flex;
    align-items: center;
    justify-content: center;

    @include min-screen($md){
        display: none;
    }
}

.product-card__sale{
    position: absolute;
    left: 0;
    top: rem(16px);
    font-size: rem(13);
    font-family: $tildaBold;
    color: $accent;
}
/*--------------------END product-card----------------------*/ 