/*=====================Modals=========================*/
@import "_source/mob_modal";
/*--------------------menu-modal----------------------*/

.modal-menu{

}
.modal-menu .mob-modal-box{
	padding-top: rem(148);
	// padding-bottom: rem(1);
	padding-left: rem(83);
	// padding-right: rem(60px);
}
.modal-close{
	@include but-null();
	position: absolute;
	left: auto;
	width: rem(56px);
	height: rem(56);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;

}
.modal-menu__close{
	top: rem(47);
	right: 0;
}
.modal-menu__nav{

}
.header-mob-menu__list{
	padding-bottom: rem(49);
	margin-bottom: rem(61);
	position: relative;

	&:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: rem(1px);
		background-color: #E5E5EA;
	}
}
.header-mob-menu__item{
	list-style-type: none;

	&:not(:last-child){
		margin-bottom: rem(27px);
	}

}
.header-mob-menu__link{
	font-size: rem(20);
	// line-height: math.div(20,11);
	text-decoration: none;
	color: $textLight;
}
.modal-menu__sale{
	font-size: rem(20px);
	line-height: 1;
	color: #636366;
	text-decoration: none;
}
.modal-cart-title{
  font-family: $tildaSemi;
}
/*--------------------END menu-modal----------------------*/

/*--------------------cart-modal----------------------*/
.modal-cart{}
.modal-cart__close{
	top:rem(1);
	right: 0;
}
.mob-modal .modal-cart__box{
	right:0;
	left: auto;
}
.modal-cart__box{
	width: 100%;
	height: 100svh;
	display: flex;
	flex-direction: column;

	@include min-screen($md){
		
		max-width: rem(435);
	}

	.modal-cart-title{
		flex: 0 0 auto;
		padding-top: rem(2);
		padding-bottom: rem(20px);
		position: relative;

		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: rem(-16px);
			right: rem(-16px);
			height: rem(1px);
			background-color: #F2F2F5;
		}
	}
	.modal-cart-list{
		flex: 1 1 auto;
		overflow-y: auto;
	}
	.block-btn{
		flex: 0 0 auto;
	}
}
.modal-cart__product {
	padding-top: rem(16);
	padding-bottom: rem(36);
	display: flex;
	align-items: flex-start;
	column-gap: rem(8);

	
	&:not(:last-child){
		border-bottom: rem(1px) solid rgb(229, 229, 234);
		
	}
}
.cart-product__counter{
	width: rem(118px);
}
.cart-product {}
.cart-product__img {
	flex: 0 0 prc(126,329);
	aspect-ratio: 126 / 170;
}
.cart-product__info {
	padding-top: rem(20);
	flex: 1 1 auto;
}
.cart-product__title {
	margin-bottom: rem(16);
	font-size: rem(16);
	line-height:1;
}
.cart-product__price {
	margin-bottom: rem(8px);
	font-size: rem(14);
	font-family: $tildaMed;
	line-height: math.div(12,14);
	letter-spacing: 0.25px;
	color: #8E8E93;
}
.cart-product__row {
	display: flex;
	align-items: center;
	column-gap: rem(4px);

	&:not(:last-child){
		margin-bottom: rem(8px);
		
	}

	&--count{
		margin-bottom: 0;
	}
	&--counter{
		justify-content: space-between;

		@include max-screen($min){
			flex-direction: column;
			align-items: flex-start;
		}
	}

}
.cart-product__key,
.cart-product__value {
	font-size: rem(14);
	line-height: math.div(12,14);
}
.cart-product__key {
	flex: 0 0 auto;
}
.cart-product__value {
	flex: 1 1 auto;
}
.cart-product__remove{
	flex: 0 0 auto;
	@include but-null();
	font-size: rem(14px);
	font-family: $tildaMed;
	line-height: math.div(12,14);
	letter-spacing: 0.25px;
	text-decoration: underline;
	text-align: right;
}
.modal-cart__footer {
	margin-inline: rem(-16);
	padding-top: rem(40);
	padding-bottom: rem(24);
	border-top: rem(1px) solid rgb(229, 229, 234);
}
.footer-modal-cart {
	&__inner{
		padding-inline: rem(16);
	}
}
.footer-modal-cart__header {
	margin-bottom: rem(16);
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	column-gap: rem(8);
}
.footer-modal-cart__label {

}
.footer-modal-cart__price {
	font-family: $tildaSemi;
}
.footer-modal-cart__text {
	margin-bottom: rem(24);
	font-size: rem(14px);
	line-height: math.div(15,14);
	color: #8E8E93;
}
.modal-cart__empty {

}
.modal-cart__empty-message {
	padding-top: rem(32);
	padding-bottom: rem(40px);

	p{
		margin-inline: auto;
		// max-width: rem(200);
		font-size: rem(18px);
		font-family: $tildaMed;
		line-height: math.div(22,18);
		color: #8E8E93;
	}
}
.modal-cart__similar {
	padding-bottom: rem(79);
}
.modal-cart__similar-title{
	margin-bottom: rem(24);
}
.modal-cart__similar-cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: rem(8);
	grid-row-gap: rem(16);
}
.modal-cart__similar-item {
	// outline: 1px solid aqua;
	text-decoration: none;
}
.similar-item {}
.similar-item__img {
	aspect-ratio: 104/88;
	margin-bottom: rem(4);
}
.similar-item__title {
	font-size: rem(13px);
	line-height: math.div(16,13);
}
/*--------------------END cart-modal----------------------*/

/*--------------------modal-search----------------------*/
.modal-search{
}
.mob-modal .modal-search__box{
	width: 100%;
	left: auto;
	right: 0;

	@include min-screen($md){
		max-width: none;
		padding-top: 0;
	}

}

.modal-search__wrapper{
	padding: 0;
	@include min-screen($md){
		padding-right: prc(123,1024);
		padding-left: prc(270,1024);
	}
}
.modal-search__close{
	position: static;
	flex-shrink: 0;

	@include max-screen($md){
		border-left: rem(1) solid #F2F2F5;
		// border-bottom: rem(1) solid #F2F2F5;
	}
	
	@include min-screen($md){
		margin-left: prc(95,1024);
	}
}
.modal-search__top {
	display: flex;
	position: relative;

	@include min-screen($md){
		padding-left: prc(270,1024);
		align-items: center;
	}

	&:after{
		content: '';
		position: absolute;
		left: rem(-16px);
		bottom: 0;
		width: calc(100% + rem(32));
		height: 1px;
		background-color: #F2F2F5;

		@include max-screen($md){
			left: 0;
			right: 0;
			width: auto;
		}
	}

}
.modal-search__icon{
	flex-shrink: 0;
	@include max-screen($md){
		display: none;
	}
}
.modal-search__label{
	flex: 1 1 auto;
	position: relative;

	.reset{
		width: rem(14px);
		height: rem(14px);

		@include max-screen($md){
			display: none;
		}
	}
}
.modal-search__input {
	padding-inline: rem(16);
	height: rem(58px);
	font-size: rem(14px);
	line-height: 1;
	font-family: $tildaMed;
	// text-transform: uppercase;
	@include placecolor(#8E8E93);



	@include min-screen($md){
		padding-inline: rem(20px);
	}

	// &::placeholder{
	// }
}
.modal-search__body{
	padding-bottom: rem(65px);
	display: flex;
	column-gap: rem(8);
	border-bottom: rem(1px) solid #E5E5EA;
}
.modal-search__footer{
	padding-top: rem(34px);
}
.modal-search__results {
	margin-top: rem(38);
	flex: 0 0 rem(238);
}
.modal-search__cards{
	flex: 1 1 auto;
}
.modal-search__category {
	margin-bottom: rem(20px);
	font-family: $tildaSemi;
	line-height: math.div(13,16);
	color: #8E8E93;

	@include min-screen($md){
		display: none;
	}
}
.modal-search__list {
	margin-bottom: rem(24px);
}
.modal-search__item {
	font-size: rem(14px);
	list-style-type: none;
	line-height: 1;
	transition: color .2s;

	&:not(:last-child){
		margin-bottom: rem(16);
	}


	span{
		font-family: $tildaSemi;
	}

	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;
			&:hover{
				color: $textLight;
			}
		}
}
.modal-search__cards{
	grid-template-columns: repeat(3, 1fr);
	max-width: rem(360px);

	@include max-screen($md){
		display: none;
	}

	.product-card{
			.product-card__img{
				margin-bottom: rem(16px);
			}
			.title a{
				font-size: rem(14px);
			}
			.price{
				font-family: $tildaReg;
				color: $text;
			}
			.price-old{
				font-family: $tildaReg;

				&:before{
					content: '';
					height: rem(1px);
				}
			}

	}
}
.modal-search__more {
	display: block;
	font-family: $tildaMed;
	line-height: math.div(13,16);
	background: url(../img/source/arrow.svg) right -2px no-repeat;
}
/*--------------------END modal-search----------------------*/ 

/*--------------------modal-search----------------------*/
.modal-size{

}
.modal-size__box{
	@extend .modal-cart__box;

	max-width: rem(435px);
}
.modal-size__container{
	flex: 1 1 auto;
	overflow-y: auto;
}
.modal-size__box .modal-size__title{
	padding-bottom: rem(24px);

}
.modal-size__title{
	@extend .modal-cart-title;

	flex: 0 0 auto;
	padding-top: rem(6);
	position: relative;

	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: rem(-16px);
		right: rem(-16px);
		height: rem(1px);
		background-color: #F2F2F5;
	}

}
.modal-size__table{
	width: 100%;
	margin-bottom: rem(44px);
	thead{
		background-color: #F2F2F5;
	}
	.table-box-header{
		td{
			padding: 1rem;
			font-size: rem(12px);
			font-family: $tildaSemi;
			line-height: math.div(10,12);
		}
	}

	tbody{
		tr{
			&:not(:last-child){
				border-bottom: 1px solid #E5E5EA;

			}

			td.bordered{
					.td-inner{

						&:not(:last-child){
							border-bottom: 1px solid #E5E5EA;

						}
					}
					
				}


				
			}
		}
	}

.modal-size__block{

	&:not(:last-child){
		margin-bottom: rem(44px);
	}
}
.modal-size__subtitle{
	margin-bottom: rem(24px);
	font-size: rem(22px);
	line-height: math.div(16,22);

	span{
		margin-right: 1rem;
		font-size: rem(24px);
		font-family: $tildaExtBold;
		line-height: math.div(10p,24);
		letter-spacing: 0.5px;
	}
	img{
		margin-right: 1rem;
		max-width: rem(45px);
		vertical-align: middle;
	}
}
.modal-size__text{
	p{
		 font-size: rem(14px);
		 line-height: math.div(19,14);
		 color: $textLight;

		&:not(:last-child){
			margin-bottom: rem(16px);
		}
	}

	&--final{
		padding-bottom: rem(44px);
		p{
			font-family: $tildaMed;
			color: $text;
		}
	}
}
/*--------------------END modal-search----------------------*/ 
/*===================== end Modals======================*/ 
