/*=====================Modals=========================*/
@import "_source/mob_modal";
/*--------------------menu-modal----------------------*/

.modal-menu{

}
.modal-menu .mob-modal-box{
	padding-top: rem(241);
	padding-bottom: rem(105);
	padding-left: rem(67);
	padding-right: rem(60px);
}
.modal-close{
	@include but-null();
	position: absolute;
	left: auto;
	width: rem(56px);
	height: rem(56);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;

}
.modal-menu__close{
	top: rem(47);
	right: 0;
}
.modal-menu__nav{

}
.header-mob-menu__list{
	margin-bottom: rem(44);
}
.header-mob-menu__item{
	list-style-type: none;

	&:not(:last-child){
		margin-bottom: rem(27px);
	}

}
.header-mob-menu__link{
	font-size: rem(20);
	// line-height: math.div(20,11);
	text-decoration: none;
	color: $textLight;
}
.modal-menu__sale{
	color: $accent;
}
.modal-cart-title{
  font-family: $tildaSemi;
}
/*--------------------END menu-modal----------------------*/

/*--------------------cart-modal----------------------*/
.modal-cart{}
.modal-cart__close{
	top:0;
	right: 0;
}
.mob-modal .modal-cart__box{
	right:0;
	left: auto;
}
.modal-cart__box{
	width: 100%;
	max-width: rem(360);
	height: 100svh;
	display: flex;
	flex-direction: column;

	.modal-cart-title{
		flex: 0 0 auto;
		padding-top: rem(6);
		padding-bottom: rem(16px);
		position: relative;

		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: rem(-16px);
			right: rem(-16px);
			height: rem(1px);
			background-color: #F2F2F5;
		}
	}
	.modal-cart-list{
		flex: 1 1 auto;
		overflow-y: auto;
	}
	.block-btn{
		flex: 0 0 auto;
	}
}
.modal-cart__product {
	padding-top: rem(16);
	padding-bottom: rem(36);
	display: flex;
	align-items: flex-start;
	column-gap: rem(8);
	border-bottom: rem(1px) solid rgb(229, 229, 234);
}
.cart-product {}
.cart-product__img {
	flex: 0 0 prc(126,329);
	aspect-ratio: 126 / 170;
}
.cart-product__info {
	padding-top: rem(20);
}
.cart-product__title {
	margin-bottom: rem(16);
	font-size: rem(16);
	line-height:1;
}
.cart-product__price {
	margin-bottom: rem(8px);
	font-size: rem(14);
	font-weight: $tildaMed;
	line-height: math.div(12,14);
	letter-spacing: 0.25px;
	color: #8E8E93;
}
.cart-product__row {
	display: flex;
	align-items: center;
	column-gap: rem(4px);

	&:not(:last-child){
		margin-bottom: rem(8px);
		
	}

	&--counter{
		// margin-block: rem(17px);
	}

}
.cart-product__key,
.cart-product__value {
	font-size: rem(14);
	line-height: math.div(12,14);
}
.cart-product__key {
	flex: 0 0 auto;
}
.cart-product__value {
	flex: 1 1 auto;
}
.cart-product__remove{
	@include but-null();
	font-size: rem(14px);
	font-family: $tildaMed;
	line-height: math.div(12,14);
	letter-spacing: 0.25px;
	text-decoration: underline;
}
.modal-cart__footer {
	margin-inline: rem(-16);
	padding-top: rem(40);
	padding-bottom: rem(24);
	border-top: rem(1px) solid rgb(229, 229, 234);
}
.footer-modal-cart {
	&__inner{
		padding-inline: rem(16);
	}
}
.footer-modal-cart__header {
	margin-bottom: rem(16);
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	column-gap: rem(8);
}
.footer-modal-cart__label {

}
.footer-modal-cart__price {
	font-family: $tildaBold;
}
.footer-modal-cart__text {
	margin-bottom: rem(24);
	font-size: rem(14px);
	line-height: math.div(15,14);
	color: #8E8E93;
}
.modal-cart__empty {

}
.modal-cart__empty-message {
	padding-top: rem(72);
	padding-bottom: rem(153px);

	p{
		margin-inline: auto;
		max-width: rem(200);
		font-size: rem(18px);
		font-family: $tildaMed;
		line-height: math.div(22,18);
		text-align: center;
		color: #9A8084;
	}
}
.modal-cart__similar {
	padding-bottom: rem(79);
}
.modal-cart__similar-title{
	margin-bottom: rem(24);
}
.modal-cart__similar-cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: rem(8);
	grid-row-gap: rem(16);
}
.modal-cart__similar-item {
	// outline: 1px solid aqua;
	text-decoration: none;
}
.similar-item {}
.similar-item__img {
	aspect-ratio: 104/88;
	margin-bottom: rem(4);
}
.similar-item__title {
	font-size: rem(13px);
	line-height: math.div(16,13);
}
/*--------------------END cart-modal----------------------*/

/*--------------------modal-search----------------------*/
.modal-search{
}
.mob-modal .modal-search__box{
	max-width: rem(360);
	width: 100%;
	left: auto;
	right: 0;

}
.modal-search__close{
	position: static;
	flex-shrink: 0;
	// top: rem(24px);
	// right: rem(17px);

	border-left: rem(1) solid #F2F2F5;
	border-bottom: rem(1) solid #F2F2F5;
}
.modal-search__top {
	display: flex;

}
.modal-search__input {
	padding-inline: rem(16);
	font-size: rem(14px);
	line-height: 1;
	font-family: $houschkaMed;
	text-transform: uppercase;
	border-bottom: rem(1) solid #F2F2F5;

	@include placecolor(#8E8E93);

	&::placeholder{
		font-family: $houschkaDemi;
	}
}
.modal-search__results {
	margin-top: rem(38);
}
.modal-search__category {
	margin-bottom: rem(20px);
	font-family: $tildaSemi;
	line-height: math.div(13,16);
	color: #8E8E93;
}
.modal-search__list {
	margin-bottom: rem(24px);
}
.modal-search__item {
	list-style-type: none;
	line-height: 1;
	transition: color .2s;

	&:not(:last-child){
		margin-bottom: rem(16);
	}


	span{
		font-family: $tildaSemi;
	}

	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;
			&:hover{
				color: $textLight;
			}
		}
}
.modal-search__more {
	font-family: $tildaMed;
	color: $textLight;
	line-height: math.div(13,16);
	text-decoration: none;
}
/*--------------------END modal-search----------------------*/ 

/*--------------------modal-search----------------------*/
.modal-size{

}
.modal-size__box{
	@extend .modal-cart__box;
}
.modal-size__container{
	flex: 1 1 auto;
	overflow-y: auto;
}
.modal-size__title{
	@extend .modal-cart-title;

	flex: 0 0 auto;
	padding-top: rem(6);
	padding-bottom: rem(16px);
	position: relative;

	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: rem(-16px);
		right: rem(-16px);
		height: rem(1px);
		background-color: #F2F2F5;
	}

}
.modal-size__table{
	width: 100%;
	margin-bottom: rem(44px);
	thead{
		background-color: #F2F2F5;
	}
	.table-box-header{
		td{
			padding: 1rem;
			font-size: rem(12px);
			font-family: $tildaSemi;
			line-height: math.div(10,12);
		}
	}

	tbody{
		tr{
			&:not(:last-child){
				border-bottom: 1px solid #E5E5EA;

			}

			td.bordered{
					.td-inner{

						&:not(:last-child){
							border-bottom: 1px solid #E5E5EA;

						}
					}
					
				}


				
			}
		}
	}

.modal-size__block{

	&:not(:last-child){
		margin-bottom: rem(44px);
	}
}
.modal-size__subtitle{
	margin-bottom: rem(24px);
	font-size: rem(22px);
	line-height: math.div(16,22);

	span{
		margin-right: 1rem;
		font-size: rem(24px);
		font-family: $tildaExtBold;
		line-height: math.div(10p,24);
		letter-spacing: 0.5px;
	}
	img{
		margin-right: 1rem;
		max-width: rem(45px);
		vertical-align: middle;
	}
}
.modal-size__text{
	p{
		 font-size: rem(14px);
		 line-height: math.div(19,14);
		 color: $textLight;

		&:not(:last-child){
			margin-bottom: rem(16px);
		}
	}

	&--final{
		padding-bottom: rem(44px);
		p{
			font-family: $tildaMed;
			color: $text;
		}
	}
}
/*--------------------END modal-search----------------------*/ 
/*===================== end Modals======================*/ 
